@media screen and (max-width: 1024px) {
	.header .phone-number {
		font-size: 13px;
	}
	.languages-selection {
		flex: 0 0 12%;
	}
	.header .lower-part .main-nav li {
		font-size: 14px;
	}
	.product-list {
		justify-content: space-around;
	}
}
@media screen and (max-width: 768px) {
	.show-when-small {
		display: block;
	}
	.filter-body-lower .checkbox-group {
		flex-direction: column;
	}
	.owl-item .item {
		padding: 0;
	}
	.owl-item .item-text {
		padding: 0;
	}
	.owl-item .flex-wrapper {
		flex-direction: column-reverse;
	}
	.hide-when-small {
		display: none !important;
	}
	.responsive-menu-body .flex-wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.header .outer.flex-wrapper {
		justify-content: space-between;
	}
	.languages-selection {
		flex: 0 0 90px;
	}
	.header .upper-part .phones {
		flex: 0 0 120px;
	}
	.header .upper-part {
		padding: 5px 0;
	}
	.header .phone-image {
		display: none;
	}
	.header .lower-part {
		display: none;
	}
	.header .upper-flex-item {
		margin: 0 ;
	}

	.header + * {
		margin-top: 126px;
	}
	.footer {
		padding: 30px 0;
	}
	.footer .flex-wrapper {
		padding-left: 10px;
	}
	.footer-title {
		margin-bottom: 10px;
	}

	.footer .column:nth-child(2),
	.footer .column:nth-child(3),
	.footer .column:nth-child(4) {
		display: none;
	}
	.footer .column:nth-child(1) .footer-title {
		display: none;
	}
	.motivation-image img {
		height: 200px;
	}
	.we-bring-light h2 {
		font-size: 30px;
	}
	.we-bring-light small {
		margin-left: 0;
		font-size: 21px;
	}
	.responsive-menu {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	} 
	.get-price .flex-wrapper {
		flex-direction: column;
	}
	.get-price .weigher {
		margin-bottom: 10px;
	}
	.product-full .product-full-flex-wrapper {
		flex-direction: column;
	}
	.product-full .gallery {
		width: auto;
		margin: 0;
		margin-bottom: 20px;
	}
	.product-full .all-description {
		width: auto;
	}
	.features.flex-wrapper {
		flex-wrap: wrap;
	}
	.product-full .features .flex-item {
		flex: 0 0 50%;
	}
	table.stats td {
		font-size: 14px;
	}
	.filter-container .filter-header {
		flex-direction: column;
	}

	.filter-container .filter-body-lower {
		flex-direction: column;
	}

	.filter-container .filter-body-upper {
		flex-direction: column;
	}
	.input-group {
		margin: 10px 0;
		/*justify-content: center;*/
	}
	.filter-container {
		padding: 10px 0;
	}
	.filter-body-upper input[type="text"] {
		margin-left: 10px;
	}
	.filter-body-lower .flex-item:first-child {
		margin-bottom: 10px;
	}
	.checkbox-group {
		text-align: left;
	}
	.filter-header .grey-button {
		margin: 10px 0;
	}
	.filter-button-wrapper {
		margin: 15px 0 20px;
	}
	.filter-body-upper .input-group label:first-child {
		width: 106px;
	}
}