@media screen and (max-width: 1024px) {
	.header .phone-number {
		font-size: 13px;
	}
	.languages-selection {
		flex: 0 0 12%;
	}
	.header .lower-part .main-nav li {
		font-size: 14px;
	}
	.product-list {
		justify-content: space-around;
	}
	.motivation-image-2 .motivation-text .main-text {
		font-size: 40px;
	}
}
@media screen and (max-width: 768px) {
	.show-when-small {
		display: block;
	}
	.record-wrapper {
		overflow: hidden;
		padding-bottom: 20px;
	}
	.alert {
	    position: relative;
	    padding-right: 20px;
		border-radius: 0;
	}
	button.close{
	    position: absolute;
	    right: 7px;
	    top: 7px;
	}
	.page-description {
		padding-bottom: 20px;
		margin-bottom: 0;
	}
	.responsive-menu {
		border-bottom: 0;
	}
	.filter-body-lower .checkbox-group {
		flex-direction: column;
	}
	.owl-item .item {
		padding: 0;
	}
	.owl-item .item-text {
		padding: 0;
	}
	.owl-item .flex-wrapper {
		flex-direction: column-reverse;
	}
	.hide-when-small {
		display: none !important;
	}
	.responsive-menu-body .flex-wrapper {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	}
	.nested-dropdown {
		padding: 10px 0 !important;
		text-align: center;
	} 
	.nested-dropdown .flex-item {
		margin-bottom: 10px;
	}
	.header .outer.flex-wrapper {
		justify-content: space-between;
	}
	.languages-selection {
		flex: 0 0 90px;
	}
	.what-we-deal-with .flex-wrapper {
		justify-content: space-around;
	}
	#map_canvas {
		height: 250px;
	}
	.people .flex-item {
		flex-basis: 48%;
	}
	.inner-page section {
		padding: 15px 0;
	}
	.person img {
		width: 100%;
		height: auto;
	}
	.section-description {
		padding: 0;
	}
	.workshops .flex-wrapper {
		display: block;
	}
	.workshop img {
		width: 100%;
	}
	.inner-page {
		margin-bottom: 0;
	}
	.borders-hide-small:before,
	.borders-hide-small:after,
	.borders-hide-small>:first-child:before, 
	.borders-hide-small>:first-child:after {
	    content: none;
	}
	.header .upper-part .phones {
		flex: 0 0 120px;
	}
	.header .upper-part {
		padding: 5px 0;
	}
	.header .phone-image {
		display: none;
	}
	.header .lower-part {
		display: none;
	}
	.header .upper-flex-item {
		margin: 0 ;
	}
	.owl-pagination {
		top: 10px;
	}
	.product-division img {
		max-width: 100%;
	}
	.header + * {
		margin-top: 126px;
	}
	.category-list {
		flex-wrap: wrap;
		padding-top: 20px;
	}
	.category-list .flex-item {
		flex-basis: 48%;
		margin-bottom: 40px;
	}
	.category-list .flex-item img{
		width: 100%;
	}
	.category-name-outer {
		margin-bottom: 20px;
	    min-height: 60px;
	    display: flex;
	    align-items: center;
	}
	.comparison-block {
		margin-top: 126px;
		margin-bottom: 50px;
		overflow: hidden;
	}
	.footer {
		padding: 30px 0;
	}
	.footer .flex-wrapper {
		padding-left: 10px;
	}
	.footer-title {
		margin-bottom: 10px;
	}

	.footer .column:nth-child(3) {
		display: none;
	}
	.footer .column:nth-child(1) .footer-title {
		display: none;
	}
	.motivation-image img {
		height: 200px !important;
	}
	.motivation-image h2 {
		font-size: 30px;
	}
	.what-we-deal-with .flex-item {
		/*flex-basis: 100%;*/
	}
	.motivation-image small {
		margin-left: 0;
		font-size: 21px;
	}
		.motivation-image .motivation-text .main-text {
		font-size: 40px;
	}
	.motivation-image-2 img {
		width: 160%;
		margin-left: -300px;
	}
	.motivation-image-2 .motivation-text {
		left: 35%;
	}
	.responsive-menu {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
	} 
	.get-price .flex-wrapper {
		flex-direction: column;
	}
	.get-price .weigher {
		margin-bottom: 10px;
	}
	.product-full {
		overflow: hidden;
		padding: 1px;
	}
	.product-full .product-full-flex-wrapper {
		flex-direction: column;
	}
	.product-full .gallery {
		width: auto;
		margin: 0;
		margin-bottom: 20px;
	}
	.product-full .all-description {
		width: auto;
	}
	.features.flex-wrapper {
		flex-wrap: wrap;
	}
	.product-full .features .flex-item {
		flex: 0 0 50%;
	}
	table.stats td {
		font-size: 14px;
	}
	.filter-container .filter-header {
		flex-direction: column;
	}

	.filter-container .filter-body-lower {
		flex-direction: column;
	}

	.filter-container .filter-body-upper {
		flex-direction: column;
	}
	.input-group {
		margin: 10px 0;
		/*justify-content: center;*/
	}
	.filter-container {
		padding: 10px 0;
	}
	.filter-body-upper input[type="text"] {
		margin-left: 10px;
	}
	.filter-body-lower .flex-item:first-child {
		margin-bottom: 10px;
	}
	.checkbox-group {
		text-align: left;
	}
	.filter-header .grey-button {
		margin: 10px 0;
	}
	.filter-button-wrapper {
		margin: 15px 0 20px;
	}
	.filter-body-upper .input-group label:first-child {
		width: 106px;
	}
	.productline-layout .product-thumb {
		flex-direction: column-reverse;
	}
	.productline-layout .product-thumb .left figure {
		display: inline-block;
	}
	.productline-layout .product-thumb .left {
		margin-right: 0;
	}
	.productline-layout .product-thumb .left #get-price {
		display: block;
		margin: 5px auto 0;
	}
	.one-line .product-thumb {
		flex-direction: column;
	}
	.contacts .flex-wrapper {
		display: block;
	}
	.contacts .flex-item {
		flex-basis: 28%;
	}
	.map {
		margin-top: 0;
	}
	.sorting-container .output-type {
		flex-direction: column;
	}
	#tab-line .sorting-container {
		flex-direction: column;
		-ms-align-items: flex-start;
		align-items: flex-start;
		padding: 10px;
	}
	.contacts-wrapper .flex-item {
		margin-bottom: 10px;
	}
	.contacts-image img {
		width: 100% !important;
	}
	.certificates .flex-wrapper {
		justify-content: center;
	}
	.certificates-lightbox,
	.certificate {
		pointer-events: none;
	}
	.blogs {
		display: block;
	}
	#colorbox {
		max-width: 90%;

	}
	#cboxWrapper {
		width: 100% !important;
	}
	#cboxContent {
		width: 100% !important;
	}
	#cboxLoadedContent {
		width: 100% !important;
	}
	.cboxPhoto {
		width: 100% !important; 
	}
	.breadcrumb {
		display: none;
	}
	.main-cat {
		margin-top: 20px;
	}
	.sorting-container {
		justify-content: center;
		padding: 20px 0 20px;
	}
	.category-name-adaptive {
		font-size: 16px;
		line-height: 2;
	} 
	ul > .category-name-adaptive:last-child {
		margin-bottom: 20px;	
	}
	section.warranty {
		padding-bottom: 0;
	} 
	.workshops .workshop figure {
		text-align: center;
	}
	.workshops .workshop img {
		width: auto;
		margin: auto;
	}
	.contacts h3 {
		margin-top: 10px;
	}
}
@media screen and (max-width: 480px) {
	.what-we-deal-with .flex-wrapper {
		display: block;
	}
	.motivation-image-2 .motivation-text .main-text {
		font-size: 25px;
	}
	.motivation-image-2 img {
		width: 250%;
		margin-left: -300px;
	}
	.motivation-image-2 .motivation-text {
		left: 15%;
	}
	.footer .column:nth-child(2),
	.footer .column:nth-child(4) {
		display: none;
	}
	.contacts .flex-wrapper {
		flex-direction: column;
		
	}
}