h1,h2,h3,h4,h5 {
	margin: 0;
	text-transform: uppercase;
}
ul {
	padding: 0;
	margin: 0;
}
figure {
	position: relative;
}
button,
button:focus, 
button:active {
	outline: none;
}
body {
	font-weight: normal;
	text-rendering: optimizeLegibility;
	text-rendering: geometricPrecision;
	font-smooth: always;
	font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	-webkit-font-smoothing: subpixel-antialiased;
	font-family: 'Open Sans', sans-serif;
	position: static !important;
}
hr {
	border-top: 1px solid #aaa;
}
p {
	color: black;
}
a {
	text-decoration: none;
	color: inherit;
}
a:hover {
	color: inherit;
	text-decoration: inherit;
}
.goog-te-banner-frame {
	display: none;
	visibility: hidden !important;
	height: 0 !important;
}
#google_translate_element {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
}
.blue-link {
	color: #3778a7;
	text-decoration: underline;
}
.blue-link:hover,
.blue-link:active,
.blue-link:focus {
	color: #1B4061;
	text-decoration: underline;	
}
.goog-te-gadget-simple {
	border-radius: 3px;
}
.row {
	margin: 0;
}
.container {
	padding: 0;
	margin: 0;
	text-align: center;
	width: 100%;
}
.main-cat {
	margin: 20px 0;
} 
.nav-tabs {
	background: #eff0f0;
	border: 0;
}
.category-name-outer {
	margin: 0 0 30px;
}

.nav-tabs li {
	background: #eff0f0;
	padding: 0 15px;
	color: black;
	text-transform: uppercase;
}
.nav-tabs > li {
	margin-bottom: 0;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
	color: black;
	border: 0;
	border-top: 1px solid #fff;
}
.nav-tabs>li>a {
	background: #eff0f0;
	border-radius: 0;
	margin: 0;
}
.nav-tabs li.active {
	margin: 0;
}
.nav-tabs li.active a{
	border-top: 1px solid #fff;
}
.alert-success {
	margin: 10px 0;
	border-radius: 8px;
	padding: 5px 15px;
	color: white;
	box-shadow: inset 0 0 10px 0 rgba(0,0,0,.05);
	background: #89C73E;
	border: 1px solid #6DB36E;
}
.alert-success i {
	color: black;
}
.alert-success a {
	color: black;
	text-decoration: underline;
	font-weight: 600;
}
.get-price label {
	margin: 0;
	position: relative;
	padding-left: 20px;
	cursor: pointer;
	display: inline-block;
	color: #454545;
	font-weight: 400;
	font-size: 16px;
}
.get-price input[type=radio] {
	display: none;
}
.get-price input[type=checkbox] {
	display: none;
}
.get-price label:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	border-radius: 2px;
	margin-right: 10px;
	position: absolute;
	left: 0;
	bottom: 2px;
	background-color: #aaa;
	box-shadow: inset 0px 2px 3px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

.filter-body-lower .custom-checkbox {
	margin-bottom: 10px;
	-webkit-flex-basis: 50%;
	-ms-flex-preferred-size: 50%;
	flex-basis: 50%;
}
.filter-body-lower input[type=checkbox]:checked + label:before,
.filter-body-lower input[type=radio]:checked + label:before {
	content: "\2714";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
	line-height: 15px;
}
.get-price input[type=checkbox]:checked + label:before,
.get-price input[type=radio]:checked + label:before {
	content: "\2714";
	text-shadow: 1px 1px 1px rgba(0, 0, 0, .2);
	font-size: 15px;
	color: #f3f3f3;
	text-align: center;
	line-height: 15px;
}
.custom-checkbox label {
	margin: 0;
	position: relative;
	padding-left: 20px;
	cursor: pointer;
	display: inline-block;
	color: #454545;
	font-weight: 400;
	font-size: 16px;
}
.custom-checkbox input[type=checkbox] {
	display: none;
}
.custom-checkbox label:before {
	content: "";
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-right: 10px;
	position: absolute;
	border-radius: 3px;
	left: -6px;
	bottom: 3px;
	background-color: #888;
	box-shadow: inset 0px 2px 6px 0px rgba(0, 0, 0, .5), 0px 1px 0px 0px rgba(255, 255, 255, .8);
}

#content ins {
	border: 2px outset buttonface;
	padding: 5px 10px;
}

.popup-cross {    
	background: url(../image/popup-cross.png);
    width: 20px;
    top: -24px;
    right: 6px;
    cursor: pointer;
    position: absolute;	
    height: 20px;
    background-size: contain;
    z-index: 9999;
}

.red-button {
	/*background: url('images/red-button.png');*/
	background: rgb(255,89,46);
	background: -webkit-linear-gradient(top,  rgba(255,89,46,1) 0%,rgba(210,55,18,1) 100%);
	background: linear-gradient(to bottom,  rgba(255,89,46,1) 0%,rgba(210,55,18,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff592e', endColorstr='#d23712',GradientType=0 );
	border-radius: 8px;
	padding: 2px 16px;
	font-weight: 100;
    color: rgba(249, 249, 249, 0.97);
    line-height: 2;
	box-shadow: 0 0 1px 0 rgba(0,0,0,1);
	position: relative;
    border: 2px solid #eee;
}
/*.red-button:before {
	content: '';
	position: absolute;
	width: 102%;
	height: 102%;
}*/

.blue-button {
	background: #2a5a7c;
	background: -webkit-linear-gradient(top,  #48789b 0%, #2a5a7c 100%);
	background: linear-gradient(to bottom,  #48789b 0%, #2a5a7c 100%);
	color: white;
	line-height: 2;
	border-radius: 7px;
	padding: 4px 16px;
	border: 2px outset buttonface;
}
.blue-button:hover, 
.blue-button:active, 
.blue-button:focus {
	color: white;
	box-shadow: 3px 2px 6px 0 rgba(0,0,0,.2);
}
.red-button:hover, 
.red-button:active, 
.red-button:focus {
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 1), 2px 2px 3px 0px rgba(0, 0, 0, 0.2);
	color: #FFF;
}
.round-button {
	height: 45px;
	width: 45px;	
	border-radius: 50%;
	padding: 0 10px;
}
.grey-button {
	color: #666;
	border: 2px outset buttonface;
	line-height: 2;
	border-radius: 7px;
	cursor: pointer;
	padding: 1px 10px;
	box-shadow: inset 0px 0px 8px 0 rgba(0,0,0,.07);
	background: rgb(224,224,224);
	background: -webkit-linear-gradient(top,  rgb(236, 236, 236) 1%,rgba(211,211,211,1) 100%);
	background: linear-gradient(to bottom,  rgb(236, 236, 236) 1%,rgba(211,211,211,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e0e0', endColorstr='#d3d3d3',GradientType=0 );
}
.grey-button:hover, 
.grey-button:active, 
.grey-button:focus {
	box-shadow: 3px 2px 6px 0 rgba(0,0,0,.1);
}

.flex-wrapper {
	display: flex;
}
.owl-item .flex-wrapper img{
	width: 100%;

}
.container {
	text-align: left;
}
.breadcrumb {
	background: transparent;
	padding: 16px 0 0 3px;
	/*max-width: 955px;
	padding: 0 10px;*/
	margin: 0;
	text-align: left;
	/*margin-bottom: 20px;*/
}
.fa-home:before {
    content: "Главная";
    font-family: 'Open Sans', sans-serif;
}
.breadcrumb a {
	margin-left: -2px;	
	text-decoration: underline;
}
.breadcrumb i {
	text-decoration: underline;
}
.breadcrumb li.li {
	text-decoration: none;
	color: #999;
}
.breadcrumb>li+li:before {
	content: '-';
	padding: 0;
	padding-right: 5px;
	color: black;	
} 
 .breadcrumb > li:last-child a,
.breadcrumb > span > span:last-child a{
	pointer-events: none;
	text-decoration: none;
}
.container.category {
	padding-bottom: 20px;
}
.category-list {
	justify-content: space-between;
	list-style: none;
}
.category-list > .flex-item {
	flex-basis: 20%;
	text-align: center;
}
.category-list > .flex-item:hover {
	color: #23527C;
}
.category-list .category-name {
	margin: 10px 0;
}
.category-list .borders {
	padding: 5px;
}
.pagination {
	text-align: center;
	font-size: 20px;
	color: #888;
	width: 100%;
}
.product-list-title {
	margin: 20px 0;
}
.product-list-description {
	margin-bottom: 30px;
}
.product-list-description p {

}
.alert {
	max-width: 940px;
	margin: auto;
}
#tab-specification .table {

}
.wide-body-layout {
	max-width: 955px;
	padding: 0 10px;
	margin: auto;
	/*overflow: hidden;*/
}
.wide-body-layout .wide-body-layout {
	padding: 0;	
}
.wide-body-layout .page-title {
	padding: 0;
}
.page-description {
	padding-bottom: 30px;
	margin-bottom: 30px;
	color: #454545;
	border-bottom: 1px solid rgb(238, 238, 238);
}
.bold {
	font-weight: bold !important;
}
.seocmspro_content::after {
	content: '';
	display: none;	
}
.open>.dropdown-menu {
	display: block;
	width: 100%;
	border: 0;
	border-radius: 0;
	left: 0;
	margin-left: 0 !important;
	padding: 30px;
}
.open>.dropdown-menu .list-unstyled{
	-webkit-justify-content: space-around;
	-ms-flex-pack: distribute;
	justify-content: space-around;
}
.open .dropdown-inner {
	margin: 0;
	font-size: 20px;
}
#menu .dropdown {
	position: static;
}
#menu .dropdown .list-unstyled > .flex-item {
	
	-webkit-flex: 0 0 22%;
	-ms-flex: 0 0 22%;
	flex: 0 0 22%;
	padding: 5px;
	text-align: center;
}
#menu .dropdown .image-wrapper {
	text-align: center;
	margin: 15px 0;
}
#menu .dropdown .img-thumbnail {
	border: 0;
}
#menu .dropdown li.flex-wrapper {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.slideshow-wide-body-layout {
	max-width: 1055px;
	margin: auto;
}
.cme {

}
.cme-form {
	width: 320px;
	border: 0 !important;
	background: none !important;
	border-radius: 10px;
}
#cme-back {
	color: black !important;
	background: black !important;	
}
.cme {
	background: url(../image/footer-bg.jpg);
}
.modal-content {
	padding: 15px 30px 0 30px;	
}
.modal-content .modal-title {
	margin-bottom: 5px;
	color: white;
	font-size: 24px;
	font-weight: 600;
}
.cme-form span {
	padding: 0 !important;
}
.modal-content .modal-subtitle {
	margin-bottom: 15px;
	color: white;
	text-transform: initial;
	font-weight: 400;
	font-size: 12px;
	white-space: nowrap;
}
.modal-content form {
	text-align: center;	
}
.modal-content .cme-fields input {
	display: block;
	margin: auto;
	width: 100%;
	border-radius: 6px;
	margin-bottom: 12px;
	border: 1px solid #999;
	padding: 8px 15px !important;
	outline: none;
	background-color: #AEBCC9;
	color: white;
	font-size: 16px;
	box-shadow: inset 0 -2px 7px 0 rgba(0,0,0,.2), 0 -1px 3px 0 rgba(0,0,0,.4);	
}
.input-name {
	background-image: url(../image/input-name.png);
	background-repeat: no-repeat;
	background-position: 95% 7px;
}
.input-phone {
	background-image: url(../image/input-phone.png);
	background-repeat: no-repeat;
	background-position: 95% 7px;
}
.input-email {
	background-image: url(../image/input-email.png);
	background-repeat: no-repeat;
	background-position: 95% 10px;
}
.cme-btn, .cme-form .cme-btn-place .cme-btn {
	display: block;
	margin: 30px auto 20px;
	text-transform: lowercase;
	line-height: 1;
	background: rgb(255,89,46);
	background: -webkit-linear-gradient(top, rgba(255,89,46,1) 0%,rgba(210,55,18,1) 100%);
	background: linear-gradient(to bottom, rgba(255,89,46,1) 0%,rgba(210,55,18,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff592e', endColorstr='#d23712',GradientType=0 );
	font-family: 'Open Sans', sans-serif;
	text-shadow: none;
	font-weight: 400;
	border-radius: 7px;
	font-size: 14px;
	padding: 4px 8px;
	color: rgba(249, 249, 249, 0.97);
    line-height: 2;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.7);
	position: relative;
    border: 2px solid #bbb;
}
.modal-content ::-webkit-input-placeholder {color:white;}
.modal-content ::-moz-placeholder          {color:white;}/* Firefox 19+ */
.modal-content :-moz-placeholder           {color:white;}/* Firefox 18- */
.modal-content :-ms-input-placeholder      {color:white;}

.blog-image {
	float: none;
}
.content-records {

}
.blog-record-description {
	text-align: center;	
}
.blog-record-description .white-and-grey-grid {
	background: white !important;
	border: 0 !important;	
}
.owl-wrapper-outer {
	box-shadow: none;
	border: 0;
}
.owl-pagination {
	top: 0;
}
.owl-controls .owl-page span {
	background: rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 0 3px 0 rgba(0,0,0,.1);
	height: 15px;
	width: 15px;
}
.owl-controls .owl-page.active span {
	background: transparent;
	border: 1px solid #444;
}
.owl-carousel .owl-buttons div {
	opacity: .7;
}
.owl-carousel .owl-buttons div i {
	font-size: 60px;
	color: #999;
}
.owl-item .item {
	padding: 30px;
}
.owl-item .flex-wrapper {
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
}
.owl-item .item-text{
	
	-webkit-flex: 0 0 50%;
	-ms-flex: 0 0 50%;
	flex: 0 0 50%;
	text-align: left;
	padding-left: 30px;
}
.owl-item .attention-text {
	font-size: 30px;
}
.owl-item .item-title {
	text-transform: uppercase;
	margin: 10px 0 30px;
	font-size: 30px;
}
.logo {
	width: 94px;
	height: 88px;
	box-shadow:  1px 0px 3px 1px rgba(0,0,0,.4);
}
.header {
	position: fixed;
	top: 0;
	z-index: 2;
	width: 100%;
    border-bottom: 1px solid #e3e3e3;
}
.header-underlay {
	height: 148px;
}
#language {
	width: 100%;
}
.attention-text {
	color: #E1573A;
	font-weight: bold;
}
.header .upper-part{
	background: url(../image/footer-bg.jpg);
	color: white;
	padding: 5px 0 10px 0;
}
.header .upper-flex-item {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 0 20px;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.header .upper-part .logo-wrapper {
	margin-left: 0;
}
.header .site-description {
	text-transform: uppercase;
	color: #a9d0eb;
	font-size: 12px;
}
.languages-selection {
	-webkit-flex: 0 0 9%;
	-ms-flex: 0 0 9%;
	flex: 0 0 9%;
}
.languages-selection .flex-wrapper {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	width: 100%;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
}
.languages-selection .lang:hover {
	text-decoration: none;
	color: #2a4558;

}
.languages-selection .lang.active {
	color: #2a4558;
	background: #b2bcc9;
	padding: 6px;
	line-height: 1;
	border-radius: 50%;
	box-shadow: inset 0px 1px 2px 1px rgba(0,0,0,.5);
}
.header .upper-part .regime {
	
	-webkit-flex: 0 0 10%;
	font-size: 11px;
	opacity: .9;
	-ms-flex: 0 0 10%;
	flex: 0 0 10%;
}
.header .upper-part .phones {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	
	-webkit-flex: 0 0 14%;
	-ms-flex: 0 0 14%;
	flex: 0 0 14%;
	padding-left: 15px;
	position: relative;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-webkit-justify-content: center;
	-ms-flex-pack: center;
	justify-content: center;
	margin: 0;
}
.header .phone-image {
	position: absolute;
	left: 0;
	top: 32px;
}
.header .phone-number {
	font-size: 16px;
}

.header .lower-part {
	padding: 4px 0;
	background: white;
}
.header .lower-part .flex-wrapper.outer {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	position: relative;
}
.header .lower-part .main-nav {
	
	-webkit-flex: 0 0 78%;
	-ms-flex: 0 0 78%;
	flex: 0 0 78%;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	-ms-grid-row-align: center;
	align-items: center;
}
.header .lower-part .main-nav > .flex-wrapper {
}
.header .lower-part .main-nav li {
	list-style: none;
	text-transform: uppercase;
	line-height: 2;
	font-size: 18px;
}
.header .lower-part .main-nav .dropdown-inner li {
	line-height: 1.5;
}
.header .lower-part .main-nav li a{
	/*padding: 5px;*/
}
.header .lower-part a:hover,
.header .lower-part a:active,
.header .lower-part a:focus {
	text-decoration: none;
	color: #3778a7;
}
.responsive-menu {
	padding: 10px;
	display: none;
	background: white;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.responsive-menu .flex-item {
	/*flex: 0 0 33%;*/
}
.responsive-menu .logo-wrapper img {
	width: 64px;
	box-shadow: 0px 0px 2px 1px rgba(0,0,0,.5);
}
.responsive-menu .page-name {
	font-size: 16px;
	font-weight: 600;
	text-align: center;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	padding: 0 10px;
}
.trigger-wrapper {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-webkit-align-items: center;
	-ms-flex-align: center;
	align-items: center;
}
.menu-trigger {
	position: relative;
	width: 60px;
	height: 50px;
	border: 0;
	padding: 0;
	background: url('../image/sandwich-bg.png') no-repeat;	
}

.menu-trigger .icon-bar {
	position: absolute;
	width: 21px;
	height: 2px;
	background: #555;
	border-radius: 12px;
	left: 16px;
	-webkit-transition: all .5s;
	transition: all .5s;
}
.menu-trigger .first {
	top: 19px;
}
.menu-trigger .second {
	top: 25px;
}
.menu-trigger .third {
	top: 31px;
}
.menu-trigger.open .first {
	top: 25px;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
}
.menu-trigger.open .second {
	opacity: 0;
}
.menu-trigger.open .third {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	top: 25px;	
}
.responsive-menu-body {
	opacity: 0;
	display: none;
	/*transition: all .5s;*/
}
.responsive-menu-body.open {
	opacity: 1;
	display: block;
}
.responsive-menu-body .flex-wrapper {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	/*position: absolute;*/
	z-index: 2;
	width: 100%;
	display: none;
}
.responsive-menu-body .responsive-nav > li{
	background: white;
	padding: 12px 25px;
	font-size: 16px;
	color: #3778A6;
	border-bottom: 1px solid #ddd;
	box-shadow: inset 0px -4px 14px 0 rgba(0, 0, 0, .05);
}
.responsive-menu-body .responsive-nav > li.active, 
.responsive-menu-body .responsive-nav > li:active, 
.responsive-menu-body .responsive-nav > li:focus {
	background: #f7f7f7;
}
.page-title {
	color: #454545;
	font-size: 24px;
	font-weight: 400;
	margin: auto;
	padding: 0px 10px;
	max-width: 955px;
	margin-top: 20px;
	margin-bottom: 20px;
}
.page-subtitle {
	color: #454545;
	font-size: 22px;
	font-weight: 400;
	margin: 20px auto;
}
section {
	padding: 30px 0;
}
section#content {
	padding: 0 0 20px 0px; 
}
.inner-page {
	margin-bottom: 70px; 
}
.inner-page section {
	text-align: center;
}

.show-when-small {
	display: none;
}
.section-title {
	color: #333;
	font-size: 24px;
	margin-bottom: 10px;
}
.section-subtitle {    
	color: #333;
	font-size: 24px;
	font-weight: 300;
	margin-bottom: 30px;
}
.section-description {
	padding: 0 60px;
	margin: 30px 0;
}
.light-title {
	font-size: 34px;
	font-weight: 100;
}
.footer {
	color: white;
	background: url(../image/footer-bg.jpg);
	border-bottom: 30px solid #384c60;
	padding: 50px 0;
}
.footer .column {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
}
.footer .flex-wrapper {
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	-ms-flex-pack: justify;
	justify-content: space-between;
}
.record_columns > div, .record_columns_center > div {
	width: 100%;
}
.white-and-grey-grid:nth-child(2n) {
	background: #f9f9f9;
	border-bottom: 1px solid #f6f6f6;
	border-top: 1px solid #f6f6f6;
}
.product-division .flex-wrapper {
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}
.product-division {
	text-align: center;
}
.footer .menu-item {
	margin-bottom: 10px;
	line-height: 1.5;
	color: #C6D1D8;
	font-size: 14px;
}
.footer-title {
	margin-bottom: 30px;
}
.footer .logo {
	margin-bottom: 20px;
}
.neuro-logo {
	width: 80px;
	height: 40px;
	position: absolute;
	bottom: 0;
}
.thumbnail {
	border: 0;
}

.motivation-image {
	padding: 0px;
	position: relative;
	overflow: hidden;
}
.motivation-image img {
	width: 100%;
	height: auto !important;
}
.motivation-text {
	position: absolute;
	top: 25%;
	color: #ffeaa5;
} 
.motivation-text .main-text{
	font-weight: 700;
	font-size: 60px;
}
.motivation-text small {
	color: white;
	font-size: 36px;
	font-weight: 100;
	margin-left: 177px;
}
.motivation-image-2 .motivation-text {
	line-height: .8;
	left: 46%;
}
.motivation-image-2 .motivation-text small {
	margin-left: 0;
}
.table-wrapper {
	overflow: auto;
}
.product-full .gallery {
	width: 30%;
	margin-right: 40px;
}
.product-full .gallery .flex-wrapper {
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}
#tab-line .sorting-container {
	padding-top: 20px;
	border-top: 1px solid rgb(187, 187, 187);
}
.productline-layout {
	margin: 20px 0;
}
.productline-layout .product-thumb .left {
	margin-right: 30px;
}
.productline-layout .product-thumb .left figure {
	padding: 5px;
}
.productline-layout .product-thumb .left #get-price {
	margin-top: 20px;
}
.productline-layout .title {
	font-size: 24px;
	font-weight: 100;
}
.konan-table tr td {
	text-align: center;
	border: 0 !important;
}
.konan-table tr:nth-child(2n) {
	background: #f7f9fa;
}
.konan-table thead td {
	background: #eff0f0;
	vertical-align: middle !important;
	font-weight: 600;
	font-size: 15px;
	text-transform: uppercase;
}
.konan-table .product-name a{
	font-size: 16px;
	color: #3778a7;	
}
.productline-layout .line-product-name {
	font-weight: bold;
} 
.scale-image {
	background: url(../image/scale-image.png);
	height: 22px;
	width: 22px;
	position: absolute;
	bottom: 6px;
	right: 6px;
}
.gallery figure {
	margin: 0;
}
.borders {
	position: relative;
}
.borders:before,
.borders:after,
.borders>:first-child:before, 
.borders>:first-child:after {
	position:absolute;
	width: 25px; height: 25px;
	border-color: #d7d9da;
	border-style: solid;
	content: ' ';
}
.borders:before {top:-1px;left:-1px;border-width: 1px 0 0 1px}
.borders:after {top:-1px;right:-1px;border-width: 1px 1px 0 0}
.borders>:first-child:before {bottom:-1px;right:-1px;border-width: 0 1px 1px 0}
.borders>:first-child:after {bottom:-1px;left:-1px;border-width: 0 0 1px 1px}

.inner-borders-hover:hover .borders.borders-with-hover:before,
.inner-borders-hover:hover .borders.borders-with-hover:after,
.inner-borders-hover:hover .borders.borders-with-hover>:first-child:before,
.inner-borders-hover:hover .borders.borders-with-hover>:first-child:after {
	border-color: #598EB2;
}

.borders.borders-with-hover:hover:before,
.borders.borders-with-hover:hover:after,
.borders.borders-with-hover:hover>:first-child:before,
.borders.borders-with-hover:hover>:first-child:after {
	border-color: #598EB2;
}

/*.borders { 
	border: 1px solid #d7d9da;
	position: relative;
} 

.borders:before {
	position: absolute;
	left: 10%;
	height: 102%;
	content: " ";
	width: 80%;
	top: -1px;
	border-top: 5px solid #fff;
	border-bottom: 5px solid #fff; 
} 
.borders:after { 
	position: absolute;
	top: 10%;
	height: 80%;
	content: "";
	width: 102%;
	left: -1px;
	border-left: 5px solid #fff;
	border-right: 5px solid #fff;
} 

.borders:hover { 
border-color: #598EB2; 
}
.borders figure,
.borders figure img {
	max-width: 100%;
	}*/
/*figure.borders:before{
	content: '';
	background: url(../image/left-border.png) 100% no-repeat;
	width: 30px;
	height: 100%;
	background-size: contain;
	padding: 1px;
	left: 0;
	position: absolute;
}
figure.borders:hover:before {
	background: url(../image/left-border-active.png) no-repeat;
	background-size: cover;
	height: 100%;
}
figure.borders:after {
	content: '';
	background: url(../image/right-border.png) 100% no-repeat;
	width: 40px;
	right: 0;
	height: 100%;
	position: absolute;
	background-size: contain;
	padding: 1px;
}

figure.borders:hover:after {
	background: url(../image/right-border-active.png) no-repeat;
	background-size: cover;
	height: 100%;
	}*/
	.gallery figure.small-size {
	}
	.product-full .gallery figure img{
		max-width: 100%;
	}
	.product-full .all-description {
		width: 70%;
	}
	.product-full .features .flex-item {
		
		-webkit-flex: 0 0 20%;
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
	}
	.product-full .features figure img {
		margin-bottom: 10px;	
	}
	.product-full .features figure {
		text-align: center;
	}
	.product-full .description {
		margin-bottom: 20px;
		font-size: 14px;
		line-height: 1.4;	
		font-weight: 600;
	}
	.product-full .features figcapture {
		display: block;
		text-transform: uppercase;
		font-size: 12px;
		font-family: 'PT Sans', sans-serif;
	}
	.product-full-title {
		margin-bottom: 30px;
		text-align: left;
		font-weight: 600;
	} 
	.product-full-flex-wrapper {
		margin-top: 30px;
	} 
	#tab-description {
		margin-top: 20px;
	}
	table.stats {
		border-collapse: collapse;
		width: 100%;
		text-align: left;
		border-spacing: 15px;
	}
	table.stats .key {
		color: #a1a1a1;
	}
	table.stats .value {
		color: #454545;
	}
	table.stats a {
		color: #3778a7;
	}
	table.stats td {
		font-size: 16px;
		padding: 5px 0;
	}
	section.get-price {
		padding: 20px 0;
		background: url(../image/get-price-product-bg.jpg);
	}
	.get-price .flex-wrapper {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		align-items: center;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.get-price label {
		margin: 10px 0;
	}
	.get-price .blue-text {
		color: #3778a7;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 18px;
		letter-spacing: -1px;
	}
	.get-price .blue-button {
		padding: 2px 17px;
	}
	.comparison-swiper-container {
		width: 100%;	
	}
	.comparison-swiper-container .swiper-slide{
		text-align: center;	
		width: 155px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.comparison-swiper-container .product-wrapper {
		padding: 10px;
		height: 260px;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.comparison-swiper-container .add-new-slide .product-wrapper {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
	}
	.comparison-swiper-container .add-new-slide {
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;	
	}

	.delete-product {
		position: absolute;
		top: 0;
		right: 0;
		cursor: pointer;
		height: 14px;
		width: 14px;
		z-index: 5;
		background: url(../image/cross.png) no-repeat;
	}
	.comparison-swiper-container .swiper-slide figcaption {
		font-weight: bold;
		font-size: 16px;
	}
	.comparison-swiper-container .product-wrapper:hover {
		text-decoration: none;
	}
	.comparison-swiper-container .product-wrapper:hover figcaption {
		text-decoration: underline;
	}
	.comparison-swiper-container .swiper-slide figure img{
		width: 100%;	
		height: 136px;	
	}
	.comparison-swiper-container .add-new-slide figure {
		margin: 32px 0;	
	}
	.comparison-swiper-container .add-new-slide figure img{
		width: 	auto;
		height: auto;
	}
	.add-new-wrapper {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		align-items: center;
		cursor: pointer;
	}
	.add-new-wrapper .round-button{
		
		-webkit-flex: 0 0 45px;
		-ms-flex: 0 0 45px;
		flex: 0 0 45px;
		padding-bottom: 3px;
	}
	.add-new-wrapper .add-new-text {
		text-align: left;
		font-size: 11px;
		padding-left: 4px;
		font-weight: 600;
	}
	.comparison-swiper-container .product-stats {
		margin-top: 60px;
		border-top: 1px solid #ccc;
	}
	.comparison-swiper-container .stat {
		text-align: center;
		border-right: 1px solid #ccc;
		padding: 5px 0px;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		height: 50px;
		overflow: hidden;
		text-overflow: ellipsis;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		align-items: center;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
	} 
	.comparison-swiper-container .product-stats .stat:nth-child(2n+1) {
		background: #e9e9e9;
	} 
	.comparison-swiper-container .add-new-slide .stat {
		text-align: left;
		padding-left: 20px;
		-webkit-box-pack: start;
		-webkit-justify-content: flex-start;
		-ms-flex-pack: start;
		justify-content: flex-start;
		border-left: 1px solid #ccc;
	} 
	.add-new-wrapper:hover .add-new-text {
		text-decoration: underline;
	}
	.comparison-swiper-container .main-stats-text {
		max-width: 155px;
		font-weight: 700;
		padding: 0 10px;
	}
	.swiper-footer {
		position: absolute;
		top: 260px;
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		width: 100%;
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		align-items: flex-end;
	}
	.comparison-swiper-container .swiper-scrollbar {
		opacity: 1 !important;
		box-shadow: inset 0px 1px 4px 0 rgba(0,0,0,.7);
		height: 10px;
		width: 100%;	
		background: #8e8e8f;	
		margin-bottom: 4px;
	}
	.comparison-swiper-container .swiper-scrollbar-drag {
		background-color: whitesmoke;
		box-shadow: inset 0 -2px 6px 0 rgba(0,0,0,.05);
		border: 1px solid #999;
		background-image: url(../image/scrollbar-lines.png);
		background-repeat: no-repeat;
		background-position: center;
	}
	.inner-page .page-title {
		font-weight: 300;
		font-size: 26px;
		color: black;
	}
	.inner-page .page-title .category-name {
		font-weight: 400;
	}
	.inner-page-title {
		max-width: 955px;
		margin: auto;
		padding: 0 10px;
		margin-bottom: 20px;
		font-size: 26px;
	}

/*.borders img {
}
.borders {
		position: relative;
	border: 1px solid #eee;
	border-radius: 1px;
}
.borders:before {
	content: '';
	position: absolute;
	left: -1px;
	right: -1px;
	top: 25px;
	bottom: 25px;
	background: white;
}
.borders:after {
	content: '';
	position: absolute;
	top: -1px;
	bottom: -1px;
	left: 25px;
	right: 25px;
	background: white;
	}*/
	section.made-in-ukraine {
		background: #fafafa;
		color: #454545;
		text-align: center;
	}
	section.made-in-ukraine .section-title{
		font-size: 34px;
		font-weight: 300;
		margin-bottom: 30px;
		color: #444;
		line-height: 1;
	}
	.output-type > li{
		margin-right: 20px;
		font-size: 18px;
		text-transform: uppercase;
		text-decoration: underline;
	}
	.sorting-container {
		justify-content: space-between;
		align-items: center;
		padding: 20px 0 30px;
	}
	.sorting-container-2 {
		justify-content: flex-end;
		padding: 0 0 30px;
	}

	.product-special .sorting-container {
		padding-top: 0;
	}
	.sorting-attribute {
		text-transform: uppercase;
		font-weight: 400;
		font-size: 20px;
		margin-right: 10px;
	}
	select.custom-select {
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		line-height: 2;
		background: url(../image/select-arrow.png);
		border: 0;
		background-repeat: no-repeat;
		background-position: right;
		padding-right: 34px;
		outline: none;
		padding-top: 5px;
		padding-bottom: 5px;
		text-transform: lowercase;
		color: #777;
	}
	.product-list {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.product-list .product {
		margin-bottom: 10px;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		align-items: center;
		width: 278px;
		padding-bottom: 20px;
	}
	.category-description {
		margin-bottom: 20px;
	}
	.product-list .product figcapture {
		font-weight: 600;
		margin: 20px 0;
		color: #454545;
		font-size: 24px;
	}
	.product-list .product .product-footer {
		-webkit-justify-content: space-around;
		-ms-flex-pack: distribute;
		justify-content: space-around;
		width: 100%;
		-webkit-box-align: end;
		-webkit-align-items: flex-end;
		-ms-flex-align: end;
		-ms-grid-row-align: flex-end;
		align-items: flex-end;
		padding-top: 20px;
	}
	.product-list .product .blue-button {
		padding: 2px 14px;
	}
	.product-list .product.borders {
	}
	button.add-to-comparison {
		width: 65px;
		height: 45px;
		-webkit-appearance: none;
		-moz-appearance: none;
		appearance: none;
		border: 0;
		background-repeat: no-repeat; 
		background: url('../image/weigher-light.png') no-repeat center;
	}
	button.add-to-comparison.active,
	button.add-to-comparison.active,
	button.add-to-comparison:hover { 
		background: url('../image/weigher-blue.png') no-repeat center;
	}
	.filter-container {
		padding: 20px 0;
		color: #555;
		font-weight: 400;
		margin: 0;
		text-shadow: 1px 0 1px rgba(255,255,255,.7);
		background: url('../image/filter-bg.png');
	}
	.filter-header {
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		align-items: center;
		-webkit-transition: 1s;
		transition: 1s;
		overflow: hidden;
	}
	.filter-body.body-hidden {
		height: 0;
		overflow: hidden;
	}
	.filter-header .grey-button {
		padding: 1px 20px;
	}
	.filter-header input[type="radio"] {
		display: none;
	}
	.filter-body-upper {
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.filter-body-upper input[type="text"] {
		border-radius: 3px;
		border: 1px solid #999;
	}
	.filter-body-upper {
		margin: 10px 0;
	}
	.filter-body-upper label {
		color: #454545;
		font-weight: 400;
		margin: 0;
	}
	.filter-body-upper .input-group {
		-webkit-box-align: center;
		-webkit-align-items: center;
		-ms-flex-align: center;
		-ms-grid-row-align: center;
		align-items: center;
	}
	.filter-body-upper input[type="text"] {
		width: 70px;
		margin-left: 20px;
		padding-left: 5px;
	}
	.filter-body-lower {
		margin-top: 25px;
	}
	.filter-body-lower label{
		color: #555;
		font-weight: 400;
		margin: 0;
		text-shadow: 1px 0 1px rgba(255,255,255,.7);
	}
	.filter-body-lower .checkbox-group {
		-webkit-flex-basis: 90%;
		-ms-flex-preferred-size: 90%;
		flex-basis: 90%;
		text-align: left;
		margin-left: 30px;
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.filter-button-wrapper {
		text-align: center;
		margin: 50px 0 30px;
	}
	.filter-button-wrapper .red-button{
		padding: 2px 15px;
	}
	.hr-hide {
		position: relative;
		margin-bottom: 40px;
		margin-top: 25px;
	}
	.hr-hide .show-text {
		display: none;
		color: #3778a7;
		margin-left: -31px;
		top: 14px;
		left: 50%;
		position: absolute;
	}
	.hr-hide.body-hidden .show-text{
		display: block;
	} 
	.hr-hide.body-hidden .hide-text {
		display: none;
	}
	.hr-hide.body-hidden {
		margin-top: 0;
	}
	.hr-hide.body-hidden .hide-arrow {
		background: url('../image/select-arrow-up.png') no-repeat;
	}
	.hr-hide .hide-arrow {
		margin-left: -17px;
		-webkit-transition: .4s;
		transition: .4s;
		background: url('../image/select-arrow.png') no-repeat;
		top: -16px;
		left: 50%;
		cursor: pointer;
		/*transform: rotate(180deg);*/
		width: 30px;
		height: 30px;
		position: absolute;
	}
	.hr-hide .hide-text {
		color: #3778a7;
		margin-left: -24px;
		top: 14px;
		left: 50%;
		position: absolute;
	}
	.sliding-checkbox {
		position: relative;
		width: 50px;
		height: 10px;
		margin-top: 5px;
		margin-left: 20px;
		background: #8c8c8c;
		/*margin: 20px auto;*/
		border-radius: 50px;
		position: relative;
		box-shadow: inset 0px 1px 9px rgba(0,0,0,0.7), 0px 1px 0px rgba(255,255,255,0.2);
	}
	.sliding-checkbox label {
		display: block;
		width: 32px;
		height: 32px;
		-webkit-transition: all .4s ease;
		transition: all .4s ease;
		cursor: pointer;
		position: absolute;
		top: -11px;
		left: -9px;

		background: #fcfff4;
		background: url('../image/sliding-checkbox.png');
	}
	.sliding-checkbox input{
		visibility: hidden;
	}
	.sliding-checkbox input[type=checkbox]:checked + label {
		left: 30px;
	}
	.sliding-checkbox .first-unit {
		position: absolute;
		top: -25px;
		left: -7px;
	}
	.sliding-checkbox .second-unit {
		position: absolute;
		top: -25px;
		left: 33px;
		color: #454545;
		font-weight: 400;
	}
	.sliding-checkbox .active-unit {
		color: #3778a7;
	}
	input[type="radio"]:checked + .grey-button,
	.grey-button:active {
		box-shadow: inset 0px 10px 23px 0px rgba(0,0,0,.2);
		border-style: inset;
		color: #3778a7;
	}

	.pagination.pagination-wrapper {
		width: 100%;
		padding: 20px 0;
	}
	.pagination {
		margin: 10px 0;
		width: auto;
	}
	.pagination>.active>a, .pagination>.active>a:focus, 
	.pagination>.active>a:hover, 
	.pagination>.active>span, 
	.pagination>.active>span:focus, 
	.pagination>.active>span:hover {
		background-color: #53718C;
		border-color: #53718C;
	}
	.pagination>li>a, .pagination>li>span {
		color: #53718C;
	}
	section.what-we-deal-with {
		padding-bottom: 0;
	}
	.what-we-deal-with .flex-wrapper {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		margin-top: 20px;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;	
	}
	.what-we-deal-with .flex-item {
		-webkit-flex-basis: 22%;
		-ms-flex-preferred-size: 22%;
		flex-basis: 22%;
		margin-bottom: 20px;
		text-align: center;	
		/*color: #454545;*/
	}
	.what-we-deal-with .section-title {
		text-align: center;
		margin-bottom: 40px;	
	}
	.what-we-deal-with figure {
		padding: 20px;
		margin-bottom: 20px;
		text-align: center;
	}
	.what-we-deal-with img {
		width: 100%;
		height: 100%;	
	}
	section.team {
		text-align: center;
	}
	.team .section-subtitle {
		margin-bottom: 50px;	
	}
	.people.flex-wrapper {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.people .flex-item {
		-webkit-flex-basis: 22%;
		-ms-flex-preferred-size: 22%;
		flex-basis: 22%;
	}
	.people .person-name {
		line-height: 3;
		font-size: 16px;
	}
	section.warranty {
		text-align: center;
	}
	
	.warranty .section-description {
		padding: 0;	
	    font-size: 16px;
	    color: #454545;
	}
	.warranty img {
		width: 100%;
		height: auto;
	} 
	section.workshops {
		text-align: center;
	}
	.workshops .flex-wrapper {
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.workshops .flex-item {
		-webkit-flex-basis: 30%;
		-ms-flex-preferred-size: 30%;
		flex-basis: 30%;
	}
	.workshops .workshop {
		margin-bottom: 20px;
		text-align: left;
		padding: 15px 10px 30px;
	}
	.workshops .workshop figure {
		margin-bottom: 10px;
	}
	.workshops .workshop img {
		width: 100%;
	}
	.workshops .workshop figcapture {
		font-size: 16px;
	}
	.contacts .flex-item {
		-webkit-flex-basis: 33%;
		-ms-flex-preferred-size: 33%;
		flex-basis: 33%;
	}
	.contacts p {
		color: #454545;
	}
	.contacts h3 {
		margin-bottom: 10px;
	}
	.contacts {
		padding-bottom: 0px;
		padding-top: 0;
	}
	#map_canvas {
		width: 100%;
		height: 580px;
	}
	.map {
		margin-top: 60px;
	}
	.certificates .flex-wrapper{
		-webkit-flex-wrap: wrap;
		-ms-flex-wrap: wrap;
		flex-wrap: wrap;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
	.certificate {
		position: relative;
		margin-bottom: 40px;
	}
	.certificate figure {
		padding: 10px;
	}
	.certificate img {
		width: 255px;
		height: 367px;
	} 
	.certificate:after {
		content: '';
		opacity: 0;
		-webkit-transition: .3s;
		transition: .3s;
		width: 91px;
		height: 91px;
		top: 140px;
		left: 85px;
		position: absolute;
		background: url('../image/scale-certificate.png');
	}
	.certificate:hover:after {
		opacity: 1;
	}
	.blogs {
		-webkit-flex-wrap: wrap;
		    -ms-flex-wrap: wrap;
		        flex-wrap: wrap;
		-webkit-box-pack: justify;
		-webkit-justify-content: space-between;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
	}
	.blogs > .flex-item {
		-webkit-flex-basis: 48%;
		    -ms-flex-preferred-size: 48%;
		        flex-basis: 48%;
		margin-bottom: 30px;
	}
	.news .blogs > .flex-item {
		-webkit-flex-basis: 30%;
	    -ms-flex-preferred-size: 30%;
	        flex-basis: 30%;
	}
	.blogs img {
		width: 100%;
	}
	.blog-title {
		margin: 15px 0;
		font-weight: 600;
		color: #454545;
	}
	.blog-wrapper {
		padding: 10px 10px 20px;
	}
	.blog .description {
		margin-bottom: 20px;
		color: #454545;	
	}
	.blog .image-wrapper {
		position: relative;
	}
	.blogs .blog .motivation-title {
		position: absolute;
		top: 50px;
		right: 30px;
	}
	.blogs .blog:nth-child(2n) .motivation-title {
		position: absolute;
		top: 50px;
		left: 30px;
	}

	.blogs .blog .motivation-title h5 {
		color: #F3C67A;
		font-size: 32px;
		font-weight: 600;
	}
	.blogs .blog .motivation-title h6 {
		color: white;
		font-size: 20px;
		margin-left: 20px;
		font-weight: 100;
		margin-top: 5px;
		text-transform: uppercase;
	}
	.blogs .blog:nth-child(2n) .motivation-title h6 {
		color: white;
		font-size: 20px;
		margin-left: 60px;
		font-weight: 100;
		margin-top: 5px;
	}
	.blogs .blog img {
		max-height: 180px;
	}
	.seocmspro_content {
		padding-bottom: 30px;
	}
	.links-wrapper a {
		display: block;
		font-size: 20px;
		line-height: 1.5; 
	}
.seocmspro_content .blog-record-description {
		text-align: left;
		margin-bottom: 20px;
}
.record-record .product-division {
	padding: 0;
}
.record-record .blog-record-description span {
    color: rgb(51, 51, 51);
    font-size: 15px;
    line-height: 18px;
    word-spacing: 1px;
    text-align: left;
}
/*
	Colorbox Core Style:
	The following CSS is consistent between example themes and should not be altered.
	*/

	#colorbox, #cboxOverlay, #cboxWrapper{position:absolute; top:0; left:0; z-index:9999; -webkit-transform: translate3d(0,0,0);}
	#cboxWrapper {max-width:none;}
	#cboxOverlay{position:fixed; width:100%; height:100%;}
	#cboxMiddleLeft, #cboxBottomLeft{clear:left;}
	/*#cboxContent{position:relative;}*/
	#cboxLoadedContent{overflow:auto; -webkit-overflow-scrolling: touch;}
	#cboxTitle{margin:0;}
	#cboxLoadingOverlay, #cboxLoadingGraphic{position:absolute; top:0; left:0; width:100%; height:100%;}
	#cboxPrevious, #cboxNext, #cboxClose, #cboxSlideshow{cursor:pointer;}
	.cboxPhoto{float:left; margin:auto; border:0; display:block; max-width:none; -ms-interpolation-mode:bicubic;}
	.cboxIframe{width:100%; height:100%; display:block; border:0; padding:0; margin:0;}
	#colorbox, #cboxContent, #cboxLoadedContent{box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box;}

/* 
	User Style:
	Change the following styles to modify the appearance of Colorbox.  They are
	ordered & tabbed in a way that represents the nesting of the generated HTML.
	*/
	#cboxOverlay{background: rgba(0,0,0,.7)}
	#colorbox{outline:0;}
	.cboxIframe{background:#fff;}
	#cboxError{padding:50px; border:1px solid #ccc;}
	#cboxLoadedContent{margin-bottom:28px;}
	#cboxTitle{position:absolute; bottom:4px; left:0; text-align:center; width:100%; color:#949494;}
	#cboxCurrent{position:absolute; bottom:4px; left:58px; color:#949494; display: none !important;}
	#cboxLoadingOverlay{background:url(images/loading_background.png) no-repeat center center;}
	#cboxLoadingGraphic{background:url(images/loading.gif) no-repeat center center;}
	
	/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */
	#cboxPrevious, #cboxNext, #cboxSlideshow, #cboxClose {border:0; padding:0; margin:0; overflow:visible; width:auto; background:none; }
	
	/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */
	#cboxPrevious:active, #cboxNext:active, #cboxSlideshow:active, #cboxClose:active {outline:0;}

	#cboxSlideshow{position:absolute; bottom:4px; right:30px; color:#0092ef;}
	#cboxPrevious{position:absolute; top: 46%; left:-30px; background:url(../image/arrow-left.png) no-repeat;
		background-size: contain; width:25px; height:25px; text-indent:-9999px;}
		#cboxPrevious:hover{background-position:-75px -25px;}
		#cboxNext{position:absolute; top: 46%; right:-30px; background:url(../image/arrow-right.png) no-repeat;
			background-size: contain; width:25px; height:25px; text-indent:-9999px;}
			#cboxClose {
				display: none;
			}
/*
  The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill
  when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9.
  See: http://jacklmoore.com/notes/ie-transparency-problems/
  */
  .cboxIE #cboxTopLeft,
  .cboxIE #cboxTopCenter,
  .cboxIE #cboxTopRight,
  .cboxIE #cboxBottomLeft,
  .cboxIE #cboxBottomCenter,
  .cboxIE #cboxBottomRight,
  .cboxIE #cboxMiddleLeft,
  .cboxIE #cboxMiddleRight {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF,endColorstr=#00FFFFFF);
  }

/**/