

<div class='cme-form' id="cme-form-main">
	<form class='cme modal-content'>
		<div class="popup-cross cme-cls"></div>
		<div class="modal-title">ОСТАВЬТЕ ЗАЯВКУ</div>
		<div class="modal-subtitle">и мы свяжемся с Вами до уточнения заказа.</div>
		<div class='cme-fields'>

			<div class='cme-template' data-cme='textField'>
				<span><input placeholder='{{:placeholder}}' name='{{:caption}}' required class='cme-txt input-name' type='text' maxlength='150'></span>
			</div>

			<div class='cme-template' data-cme='textPhone'>
				<span><input placeholder='{{:placeholder}}' name='{{:caption}}' required class='cme-txt cme-phone input-phone' type='tel' maxlength='15'></span>
			</div>
			<!-- <span><input class="cme_txt" type="text" maxlength="150" value="" id="cmail"></span> -->
			<!-- <span><input class="cme_txt" type="text" maxlength="150" value="" id="cmail"></span> -->
			<!-- <span><input class="cme_txt" type="text" maxlength="150" value="" id="cmail"></span> -->
			<!-- <span><input class="cme_txt" type="text" maxlength="150" value="" id="cmail"></span> -->
		</div>

		<span class='cme-btn-place'>
			<button class='cme-btn'>Заказать звонок</button>
		</span>
		<div class='callme-result'></div>
	</form>
</div>
<div id='cme-back'></div>

<script>
		$('.cme-txt[name="Email "]').removeClass('input-name').addClass('input-email');
</script>

